.uploading {
    position: fixed;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
}

.uploading div {
    box-sizing: border-box;
}

.uploading .box {
    width: 200px;
    height: 200px;
    position: relative;
    background-color: #ccc;
    border-radius: 50%;
}

.uploading .num {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 180px;
    font-size: 32px;
}

.uploading .clip {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 10px solid #ccc;
    border-radius: 50%;
    clip: rect(0, 200px, 200px, 100px);
}

.uploading .left {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 10px solid lightblue;
    border-radius: 50%;
    clip: rect(0 100px 200px 0);
    top: -10px;
    left: -10px;
}

.uploading .right {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 10px solid lightblue;
    border-radius: 50%;
    clip: rect(0 200px 200px 100px);
    top: -10px;
    left: -10px;
}

.uploading .width-none {
    width: 0;
}

.uploading .auto {
    clip: auto;
}